// screens
$lg: 1170px;
$md: 992px;
$sm: 768px;
$xs: 576px;

// colors
$black: #000000;
$blackLight: #666666;
$white: #FFFFFF;
$yellow: #FFFF66;
$gray: #B3B3B3;
$blue: #1698D9;
$blueHover: #2EA8E6;
$pink: #D91667;
$pinkHover: #E52E7A;
